.nav{
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}

.leftNav{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.rightNav{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;

}

a{
    text-decoration: none;
    color: gray;
}